{% extends "network/layout.html" %}

{% block body %}
<h1>All Posts</h1>
{% if user.is_authenticated %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">New Post</h5>
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <textarea class="form-control" name="content" rows="3" placeholder="What's going on?"
                maxlength="280"></textarea>
            <button class="btn btn-primary my-2" type="submit">Post</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}